<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Data Table</h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src="../public/javascripts/table.js"></script>
</html>
