<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <span>
    <select id="selCircles" onchange="showCircle(this.value)">
        <option value="">Select A Circle</option>
        <option value="friends">Friends</option>
        <option value="families">Family</option>
    </select>
  </span>
  <input type="text" placeholder="Search" oninput="filter(event);" />
  <button onclick="toggleCol(0)">Show/Hide Column 1</button>
  <button onclick="toggleCol(1)">Show/Hide Column 2</button>
  <table class="dataTable">
      <thead>
      <th class="tableHeader" onclick="sort('firstName', 0)">First Name</th>
      <th class="tableHeader" onclick="sort('lastName', 1)">Last Name</th>
      </thead>
  </table>
  </body>
  <script src="javascripts/table.js"></script>
  <script src="javascripts/data.js"></script>
</html>
